@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color:#E3F0FF;
  --primary-text-color: #393E46;
  --secondary-text-color: #8d8c8c;
  --padding-inline-section: 20px;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
}
.Card-Container{
  color: #FFFFFF;
  padding: var(--padding-inline-section);
  height: 100%;
    background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 25px 40px #1687d933;
}
.mainpodcast img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0px 25px 40px #1687d933;
}
.container {
  max-width: 90%;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.small-bold-text {
  font-size: 0.8rem;
  font-weight: 400;
}


.small-bold-text2 {
  font-size: 1.1rem;
  font-weight: 500;
}
.flex {
  display: flex;
  align-items: center;
}

.hover-links {
  color: var(--primary-text-color);
  transition: 0.2s ease-in-out;
}
.header-links a:hover{
  color: var(--primary-text-color);
  text-decoration: underline;
}


.primary-button{
  border: 1px solid black;
  font-weight: 500;
  padding: 12px 24px;
  color: var(--primary-text-color)
}
.primary-button:hover {
  color:var(--primary-text-color)
}

.secondary-button {
  border: 1px solid var(--primary-text-color);
  font-weight: 500;
  padding: 12px 24px;
  background-color: #393E46;
  color: var(--background-color);
}

.secondary-button:hover {
  background-color: #E3F0FF;
  color: var(--primary-text-color);
}

.tertiary-button{
  font-weight: 500;
  padding: 6px 24px;
  background-color: #C0DBEA;
  border-radius: 30px;
}

.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

.company-logo img {
  width: 100px;
}

.main-nav {
  margin-top: 20px;
  justify-content: space-evenly;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 40px;
}

header {
  padding: 50px var(--padding-inline-section);
}

.header-section {
  padding: var(--padding-inline-section);
  justify-content: center;
  gap: 50px;
  margin-block: 35px;
}

.header-left {
  text-align: left;
}

.header-left h1 {
  margin-top: 10px;
}

/*.header-left p {*/
/*  margin-top: 10px;*/
/*  font-size: 1.1rem;*/
/*}*/

.header-left a {
  margin-top: 20px;
}

.header-right img {
  width: 100vh;
}
.company-motto {
  text-align: center;
  margin-bottom: 20px;
  font-size: large;
  color: var(--primary-text-color);
}

.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos img {
  height: 50px;
  object-fit: cover;
}

.features-section {
  padding: 80px var(--padding-inline-section) 0;
}

.features-header {
  text-align: center;
  padding: var(--padding-inline-section);
}
.features-header2 {
  text-align: center;
}

.features-header h2 {
  margin-bottom: 30px;
}
.btn-space{
  padding: 10px;
  margin-right: 10px;
}
.features-items {
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  padding: var(--padding-inline-section);
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}

.big-feature-section {
  padding: 80px var(--padding-inline-section) 0;
  justify-content: space-between;
}

.feature-section-left {
  padding: var(--padding-inline-section);
}

.feature-section-left img {
  width: 100%;
}

.feature-section-right {
  justify-content: space-between;
  padding: var(--padding-inline-section);
}

.feature-section-right h4 {
  margin: 10px;
}

.feature-section-right p {
  margin: 10px;
}

.feature-section-right h3 {
  margin: 10px;
}


.features-header {
  flex-direction: column;
  gap: 20px;
}
.video-grid{
  display: grid;
  grid-template-columns: 5em 100px 30%;
  grid-template-rows: 200px auto;
  gap: 10px;
}
.flex2{
  display: flex;
  width: fit-content;
  margin-top: var(--padding-inline-section);
  justify-content: space-between;
  gap: 10px;
}
.videocard{
  display: flex;
  flex-direction: column;
  margin:var(--padding-inline-section)
}
.thumbnail{
  width: 300px;
}
.usericon{
  width: 40px;
  height: 40px;
}

.flex3{
  flex-direction: row;
  padding: 5px var(--padding-inline-section);
}
.list{
  background: var(--primary-text-color);
  overflow: scroll;
}
.podcastList{
    padding:40px 0px;
}
.videoMainSection{
  width: 100%;
  height: 70vh;
}
::-webkit-scrollbar {
  display: none;
}

